$letters: 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h';

#board {
    position: relative;
    display: flex;
    flex-direction: column;
    .row {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        div {
            width: 100%;
            padding-bottom: 100%;
            &.black {
                background: black;
            }
        }
    }
    .piece {
        position: absolute;
        width: 12.5%;
        padding-bottom: 12.5%;
        transition: all 0.5s;
        opacity: 1;
        img {
            width: 80%;
            height: auto;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        };
    }
    @for $a from 1 through 8 {
        @for $b from 1 through 8 {
            .pos_#{nth($letters, $b)}_#{$a} {
                position: absolute;
                left: 12.5% * ($b - 1);
                top: 12.5% * (8 - $a);
            }
        }
    }
    .pos_x_x {
        transition: all 2.5s;
        transform: rotate(1440deg);
        left: 125%;
        top: -125%;
    }
}

#input {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}